.router-active {
    color: var(--accent-400);
    font-weight: bold;
    border-right: 5px solid var(--accent-400);
}

.router-active:hover {
    color: var(--accent-100);
    border-right: 5px solid var(--accent-100);
}

.router-inactive{
    color: var(--secondary-100)
}