.router-active {
    background-color: var(--accent-400);
    color: var(--primary-600);
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

.router-active:hover {
    background-color: var(--secondary-200);
    color: var(--primary-700);
}

.router-inactive{
    color: var(--secondary-100)
}